
$baseImgPath: '../resources/images/thumbnails/';

$projs: ('convergence', 'calculator', 'timer', 'simon', 'twitch', 'brass', 'tictac', 'wikipedia', 'timestamp', 'headparse', 'miniurl', 'nodevote');

@each $proj in $projs {
  ##{$proj} {
    background: url('#{$baseImgPath}#{$proj}.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 11em;

    @include mobileLg {
      height: 13em;
    }

    @include laptop {
      height: 18em;
    }
  }
}

.api {
  color: $altColorLight;
  text-align: center;

  h2 {
    font-family: $fontSecondary;
    position: relative;
    margin: 0;
    padding: 1em 0 0 0;
  }
  p {
    font-family: $fontSecondary;

  }
}

.coming-soon {
  color: #333;
  text-align: center;
  opacity: 0.5;

  h2 {
    font-family: $fontSecondary;
    position: relative;
    margin: 0;
    padding: 5em 0 0 0;
  }

  p {
    font-family: $fontSecondary;
  }
}

#nodevote {
  background-position: unset;
}
