/* contains styling considered too specific to include in
   a generic 'structure' layout file */

pre {
  max-width: 90%;
  margin: auto;
}

code {
  font-family: Consolas, monaco, monospace;
  font-size: .8em;

  @include mediumLaptop {

  }
}

.background {
  // background: url('../resources/images/macbook_bg.jpg');
  // background: $altBg;
  background: $bgNew;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

header {

  div {
    height: 1.75em;
    transition: color 300ms, background-color 300ms;

    &:hover {
      color: #000;
      background-color: $flairColor;
    }
  }

  .page-nav {
    li {
      @include intermed {
        padding: 0 .5em;
      }
      a {
        font-size: 1.75em;
      }
    }
  }

  .social-nav {

    li {

      a {
        font-size: 1em;

        div {
          padding: .65em 0 .65em 0;

          img {
            height: inherit;
          }
        }
      }
    }
  }
}

#home {
  padding: 12vh 0vh 10vh;
  font-size: 2em;
  font-weight: 300;
  color: $defaultColor;
  background-color: rgba(51, 51, 51, $transparency);

  @include tablet {
    font-size: 3em;
    padding: 10vh 0 0 0;
    height: 90vh;
  }

  @include laptop {
    // font-size: 3em;
  }

  h1 {
    font-weight: 400;
    text-align: center;
    @include tablet {
      padding-top: 20vh;
    }
  }

  #caption {
    width: 55%;
    margin: auto;
    text-align: center;
    @include xBrowserFlexCol {
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    h4 {
      flex: 1 0 auto;
      font-size: 1em;
      font-weight: 400;
      padding: 0 .2em;
      @include tablet {
        //padding: 0;
      }
    }
  }
}

#pt1, #pt2, #pt3 {
  opacity: 1;
}

#about {

  p:not(:last-child) {
    margin-bottom: 1em;
  }
  p:last-child {
    text-align: center;
    a {
      transition: $linkColorTransition;
      &:hover {
        color: $linkColorOnHover;
      }
    }
  }

  .section-container {
    @include xBrowserFlex {
      -webkit-align-items: flex-start;
      align-items: flex-start;
    }

    div {
      @include tablet {
        margin: 1.25em;
      }
    }

    .one-third {
      //flex: 1 0 auto;
      img {
        width: 80%;
        display: block;
        float: right;
        border-right: $styleBorder solid $flairColor;
      }
    }
    // .two-thirds {
      //flex: 2 0 auto;
    // }
  }
}

#sample-description {
  margin-left: 2%;
  padding: 2%;
  width: calc(92% - 3px);

  .partitioned {
    margin: 0 auto 1em;
    width: 75%;
    border-bottom: 1px solid $lineColor;
    padding-bottom: 2em;
  }

  p {
    text-align: center;
  }

  p,
  li {
    width: 100%;
    margin: auto;

    @include tablet {
      width: 66.66%;
    }
  }

  p:not(:last-child),
  li {
    margin-bottom: 1em;
  }
}

#sample-container {
  @include xBrowserFlex {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  @include tablet {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  div {
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  h3 {
    background-color: $altColorLight;
    padding: .25em 0 .25em 1em;
  }
}

#project-description {
  margin-left: 2%;
  padding: 2%;
  width: calc(92% - 3px);

  p {
    text-align: center;
  }

  p,
  li {
    width: 100%;
    margin: auto;

    @include tablet {
      width: 66.66%;
    }
  }

  p:not(:last-child),
  li {
    margin-bottom: 1em;
  }
}

#project-container {
  @include xBrowserFlex {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  @include laptopMax {
    @include xBrowserFlexCol {

    }
  }
}

.project {
  background: $flairColor;
  margin-bottom: 5em;
  flex: 0 1 auto;
  margin: 0 .5em 5em .5em;
  width: 96%;

  @include tablet {
    
  }

  @include laptop {
    flex: 0 1 auto;
    margin: 0 .5em 5em .5em;
    width: 45%;
  }

  h2 {
    display: block;
    position: absolute;
    margin: 0;
    padding: .25em 0 0 1em;
    font-size: 1.25em;
    font-weight: 300;
    @include mobileLg {
      font-size: 1.5em;
      padding: 0 0 0 1em;
    }
  }

  .offset {
    width: 98%;
    padding: 1%;
    display: block;
    position: relative;
    left: 1em;
    top: 2.5em;
    background-color: $altColorDark;
  }

  div {
    transition: box-shadow 300ms, transform 300ms;
    &:hover {
      box-shadow: 0 0 15px 5px #333;
      transform: scale(1.015);
    }
  }
}

.project-mobile {
  margin-bottom: 1em;
  width: 100%;

  a {
    transition: $linkColorTransition;
    &:hover {
      color: $linkColorOnHover;
    }
  }
}

#contact {
  .section-container {
    text-align: center;
    font-size: 1.25em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    .contact-elem {
      display: inline-block;
      margin: auto;
      flex: 1 0 0;
      transition: $linkColorTransition;

      &:hover {
        color: $linkColorOnHover;
      }
    }
  }
}

.copyright {
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: middle;
}

.hidden-mobile {
  @include laptopMax {
    display: none !important;
  }
}

.hidden-mobile-only {
  @include tabletMax {
    display: none !important;
  }
}

.hidden-laptop {
  @include laptop {
    display: none !important;
  }
}