// media query breakpoints

$mobileSmW: 320px;
$mobileLgW: 500px;
$tabletW: 768px;
$laptopW: 1024px;
$mediumLaptop: 1280px;
$desktopW: 1440px;

@mixin mobileSm {
  @media (min-width: #{$mobileSmW}) {
    @content;
  }
}

@mixin mobileLg {
  @media (min-width: #{$mobileLgW}) {
    @content;
  }
}

@mixin intermed {
  @media (min-width: 360px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tabletW}) {
    @content;
  }
}

@mixin tabletMax {
  @media (max-width: #{$tabletW}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptopW}) {
    @content;
  }
}

@mixin laptopMax {
  @media (max-width: #{$laptopW}) {
    @content;
  }
}

@mixin mediumLaptop {
  @media (min-width: #{$mediumLaptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktopW}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin landscapePhone {
  @media screen and (max-height: #{$mobileLgW}) and (max-width: #{$laptopW}) {
    @content;
  }
}