// === constants === \\
@headerFooterBackground: #ffffff;
@sectionBackground: #ffffff;
@transparentColor: #333;
@detailColor: darkorange;

@windowOpacity: .5;

@divisionBorder: 1px solid #c3c3c3;

@structureElementWidth: 100%;
@structureElementMargin: 0;

@navElementWidth: 20%;

@socialMediaWidth: 33%;

@linkColor: darkorange;
@linkTransition: color 150ms;
@onLinkHover: black;

@projectSize: 35em;

@headerDesktop: 3em;
@paraDesktop: 1.25em;

// === mixins === \\
.Window {
    width: @structureElementWidth;
    height: 20em;
    background-color: @transparentColor;
    opacity: @windowOpacity;
    margin: @structureElementMargin;
    
    display: block;
    clear: both;
}

.Center {
    margin: auto;
    display: block;
}

.Column {
    width: 50%;
    overflow: visible;
}

.ProjectThumbnail(@projectWidth:@projectSize){
    width: @projectWidth;
    height: @projectWidth*.5625;
}