// === constants === \\
@headerFooterBackground: #ffffff;
@sectionBackground: #ffffff;
@transparentColor: #333;
@detailColor: darkorange;

@windowOpacity: .5;

@divisionBorder: 1px solid #c3c3c3;

@structureElementWidth: 100%;
@structureElementMargin: 0;

@navElementWidth: 20%;

@socialMediaWidth: 33%;

@linkColor: darkorange;
@linkTransition: color 150ms;
@onLinkHover: black;

// change this value to resize projects completely
@projectSize: 37vw;
@projectSizeTab: 60vw;
@projectSizeE: 70vw;

@headerDesktop: 3em;
@paraDesktop: 1.25em;

// === media query sizes === \\
@laptopLarge: ~"screen and (max-width: 1440px)";
@laptopSmall: ~"screen and (max-width: 1280px)";
@tabSmLand: ~"screen and (max-width: 1024px)";
@tabPort: ~"screen and (max-width: 800px)";
@eReader: ~"screen and (max-width: 600px) and (orientation: portrait)";
@mobLand: ~"screen and (max-width: 736px) and (orientation: landscape)";
@mobPortM: ~"screen and (max-width: 414px)";
@mobPortS: ~"screen and (max-width: 320px)";
@mobLandS: ~"screen and (max-width: 639px) and (orientation: landscape)";

// === mixins === \\
.Window {
    width: @structureElementWidth;
    height: 20em;
    background-color: @transparentColor;
    opacity: @windowOpacity;
    margin: @structureElementMargin;
    
    display: block;
    clear: both;
}

.Center {
    margin: auto;
    display: block;
}

.Column {
    width: 50%;
    overflow: visible;
}
.ColumnM {
	width: 100%;
	overflow: visible;
}

.ProjectThumbnail(@projectWidth:@projectSize){
    width: @projectWidth;
    height: @projectWidth*.5625;
}
.ProjectThumbnailTab(@projectWidth:@projectSizeTab){
	width: @projectWidth;
	height: @projectWidth*.5625;
}
.ProjectThumbnailE(@projectWidth:@projectSizeE){
	width: @projectWidth;
	height: @projectWidth*.5625;
}